In [1]:
import os

In [2]:
fileList = [fileName for fileName in os.listdir(".") if fileName[:3] == "ERR"]
fileList

['ERR188044-count.txt',
 'ERR188104-count.txt',
 'ERR188234-count.txt',
 'ERR188245-count.txt',
 'ERR188257-count.txt',
 'ERR188273-count.txt',
 'ERR188337-count.txt',
 'ERR188383-count.txt',
 'ERR188401-count.txt',
 'ERR188428-count.txt',
 'ERR188454-count.txt',
 'ERR204916-count.txt']

In [3]:
sampleNameList = [name[:9] for name in fileList]
sampleNameList

['ERR188044',
 'ERR188104',
 'ERR188234',
 'ERR188245',
 'ERR188257',
 'ERR188273',
 'ERR188337',
 'ERR188383',
 'ERR188401',
 'ERR188428',
 'ERR188454',
 'ERR204916']

In [4]:
import pandas as pd

total = []
for fileName in fileList:
    with open(fileName) as fin:
        df = pd.read_table(fin, index_col=0, names=[fileName[:9]])
        df = df.sort_index()
        total.append(df)

In [5]:
total[0]

           ERR188044
NM_000032          0
NM_000033        220
NM_000044          1
NM_000047          0
NM_000052         26
...              ...
NM_207318       1341
NM_207320          0
NM_207339          0
NM_207422        109
NM_212559         16

[1686 rows x 1 columns]

In [6]:
df = pd.concat(total, axis=1)
df.to_csv("./genes-count.csv")

In [7]:
filtered = df[df.sum(axis=1) >= 6]
filtered

,ERR188044,ERR188104,ERR188234,ERR188245,ERR188257,ERR188273,ERR188337,ERR188383,ERR188401,ERR188428,ERR188454,ERR204916
NM_000033,220,90,161,229,190,91,295,141,226,104,166,143
NM_000052,26,25,11,2,5,9,4,5,16,6,12,20
NM_000074,0,0,1,1,0,2,1,0,2,1,0,0
NM_000117,1400,1228,1329,1589,1474,581,1897,1432,1851,719,1216,1521
NM_000132,10,5,9,4,11,11,21,8,26,13,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
NM_201599,4,1,0,0,2,0,1,1,0,0,1,0
NM_206923,69,53,43,34,50,23,86,40,88,22,69,38
NM_207318,1341,1803,1220,687,1046,571,1224,1180,1488,817,1384,1183
NM_207422,109,233,258,103,109,98,124,310,229,185,263,308
NM_212559,16,19,42,2,2,3,6,6,3,2,7,2

In [8]:
filtered.to_csv("./filtered-count.csv")

In [9]:
df.shape

(1686, 12)

In [10]:
filtered.shape

(407, 12)